* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #0a0a0a;
  color: #fff;

}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background: rbg(0, 0, 0, 0.8);
  border-bottom: 1px solid #00f3ff;
  background-color: #44444E;
}

.logo {
  font-size: 1.5rem;
  color: #00f3ff;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-weight: 500px;
  transition: color 0.3s;
  margin-left: 20px;
}

.nav-links a:hover {
  color: #00f3ff;
  padding: 8px;
  border: 1px solid #00f3ff;
  transform: scale(1.5);
}

.hero {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero span {
  color: #00f3ff;
}

.btn {
  margin-top: 20px;
  padding: 10px 20px;
  border: 2px solid #00f3ff;
  border-radius: 5px;
  color: #00f3ff;
  text-decoration: none;
  transition: 0.3s;

}

.btn:hover {
  transform: scale(1.25);
  background: #00f3ff;
  color: #000;
}

/* == About Section == */
.about {
  padding: 60px 10%;
  background-color: #0a0a0a;

}

.about-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.about-container img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 3px solid #00f3ff;
  box-shadow: 0 0 25px #00f3ff;
}

.about-text {
  max-width: 600px;
}

.about-text h2 {
  font-size: 2rem;
  color: #00f3ff;
  margin-bottom: 15px;
}

.about-text p {
  line-height: 1.6;
  margin-bottom: 20px;
}

.about-text ul {
  list-style: none;
}

.about-text li {
  margin-bottom: 10px;
  font-size: 1.1rem;
}

/* == Responsive == */
@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    text-align: center;
  }

  .about-container img {
    width: 200px;
    height: 200px;
  }
}

/* == Projects Section ==  */
.projects {
  padding: 60px 10%;
  background: #0a0a0a;
  text-align: center;
}

.section-title {
  font-size: 2rem;
  color: #00f3ff;
  margin-bottom: 40px;
  text-shadow: 0 0 10px #00f3ff;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.project-card {
  background: #0a0a0a;
  border: 1px solid #00f3ff;
  border-radius: 10px;
  padding: 25px;
  box-shadow: 0 0 20px rgba(0, 243, 255, 0.2);
  transition: 0.3s;
}

.project-card:hover {
  transform: translate(-10px);
  box-shadow: 0 0 25px #00f3ff;
}

.project-card h3 {
  color: #00f3ff;
  margin-bottom: 10px;
}

.project-card p {
  color: #ccc;
  font-size: 0.95rem;
  margin-bottom: 20px;
}

/* === Contact Section === */
.contact {
  padding: 60px 10%;
  background: #0a0a0a;
  text-align: center;
}

.contact-subtext {
  color: #aaa;
  margin-bottom: 30px;
}

.contact-form {
  max-width: 500px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  border: 2px solid #00f3ff;
  border-radius: 5px;
  background-origin: #000;
  color: #000;
  outline: none;
  font-size: 1rem;
}

.contact-form input:focus,
.contact-form textarea:focus {
  box-shadow: 0 0 10px #00f3ff;
}

.contact-form button {
  background: transparent;
  border: 2px solid #00f3ff;
  color: #00f3ff;
  padding: 10px 25px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.contact-form button:hover {
  background: #00f3ff;
  color: #000;

}

/* === Footer === */
.footer {
  background: #44444E;
  color: #fff;
  text-align: center;
  padding: 25px 0;
  border-top: 1px solid #00f3ff;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer p {
  margin-bottom: 10px;

}

.social-links a {
  margin: 0 10px;
  text-decoration: none;
  color: #00f3ff;
  transition: 0.3s;
}

.social-links a:hover {
  color: #fff;
  text-shadow: 0 0 10px #00f3ff;
}